@font-face {
  font-family: Goudy;
  src: url(fonts/GoudyStM-webfont.woff);
}

body {
  padding: 50px;
  font: 14px "Goudy", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
}

a {
  color: #00B7FF;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: inset 0px 60px 120px rgba(0, 0, 0, 0.8);
  z-index: 1
}


#tweet {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}
#tweet-container {
  position: relative;
  z-index: 1;
  padding: 10px;
}

#tweet-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#tweet-user-pic {
  border-radius: 100px;
  margin: 0 1em;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  width: 30px;
}

#tweet-user-name {
  font-size: 1.5em;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.8);
}

#tweet-text {
  width: 60%;
  font-weight: 100;
  padding: 0 1em;
  font-style: italic;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.8);
}

div.slick-container {
  position: relative;
}

div.slick-slider {

}

div.slick-list {

}

div.slick-track {
  height: 768px;
  width: 1024px;
}

img.slide-image {
  max-height:100%;
  max-width:100%;
  margin: 0 auto;
}