extends layout

block content
  script(type="text/javascript", src='/javascripts/index_controller.js')
  div.slick-container#slick-container
    div#overlay
    div#tweet
      div#tweet-container
        div#tweet-user
          img#tweet-user-pic
          div#tweet-user-name
        div#tweet-content
          p#tweet-text
        img#tweet-img
    div#slick
      each image, index in images
        div
          img.slide-image(src=image)
  div#footer-overlay 
    div#footer
        p 
        | Tweet 
        b.highlight-text #{tracking}
        br
        b.highlight-text #photobomb 
        | count 
        span#photo-bomb-count 0
