extends layout

block content
  script(type="text/javascript", src='/javascripts/index_controller.js')

  div#tweet-container
    p#tweet-text
  div.slick-container
    div(data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "autoplay": true, "autoplaySpeed": 3000, "arrows":false, "lazyLoad":"progressive", "pauseOnHover": false, "pauseOnFocus": false}')#slick
      each image, index in images
        div
          img.slide-image(src=image)


