doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/slick.css')
    script(src='/lib/jquery.min.js')
    script(src='/lib/slick.min.js')
    script(src='/lib/socket.io.js')
    script(src='/lib/lodash.min.js')
  body
    block content
